<h1>List</h1>

<h2>Your favorite: {{favoriteRestaurant.name}}</h2>

{{restaurant-list
  restaurants=model
  page=page
  perPage=per_page
  totalRows=metadata.total_rows
  on-change-page='changePage'}}
