<div class="restaurant">
  <img src={{restaurant.image}}>
  {{#link-to 'restaurant' restaurant.id class="test-restaurant"}}
    {{restaurant.name}}
  {{/link-to}}

  <button {{action 'favorite' restaurant}}>â¤ï¸</button>

  {{star-rating}}

</div>
